.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.Bio {
  padding: 40px;
  column-count: 2;
  column-gap: 50px;
  background-color: #AFEEEE;
}

.Bio-title {
  font-size: 1.5em;
}

.Bio-info {
  list-style-type: none;
  font-size: large;
  text-align: left;
  margin-left: 50px;
}

.Bio-pic {
  height: 300px;
  padding-left: 50px;
  text-align: justify;
}

.Projects {
  padding: 40px;
}

.Tile-closed {
  height: 250px;
  width: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
