.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.Bio {
  font-size: large;
  text-align: left;
  list-style-type: none;
  padding: 40px;
  column-count: 2;
  column-gap: 50px;
  margin-right: -50px;
  margin-left: 50px;
}

.Bio-title {
  font-size: 1.5em;
}

.Bio-pic {
  height: 300px;
  padding-left: 50px;
  text-align: justify;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
