.App {
  background-color: #fafafa;
}

.App-header {
  padding: 10px;
  height: 170px;
  text-align: center;
  background-image: url("sky.gif");
  background-size: cover;
}

.App-title {
  font-size: 2.5em;
  padding: 10px;
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
